body {
    background-color: beige;
}

h1 {
    border-bottom: solid 2px black;
}

h2 {
    border-bottom: dotted 5px purple;
}

h3 {
    border-bottom: dotted 5px purple;
}

a:link,a:visited{
    color:blue;
}

a:hover {
    text-decoration: none;
    color:rebeccapurple;
}
